@import url('https://googleapis.com');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    color: #6B3E26;
    font-size: 24px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #dabba6;
    color: #6B3E26;
    font-family: "Times New Roman", Times, serif;
}


.button-link:link {
    display: inline-block;
    margin: 2px;
    padding: 8px 24px;
    background-color: #D88C5A;
    color: #6B3E26;
    text-decoration: none;
    cursor: pointer;
}

.button-link:visited {
    background-color: #663413;
}

.button-link:hover {
    background-color: #945b35;
    transition: background-color 0.2s, color 0.2s;

}

.button-link:focus {
    color: #462c04;
    outline: 2px solid #004499;
    transition: background-color 0.2s, color 0.2s;
}

.button-link:active {
    color: #002244;
    transition: background-color 0.2s, color 0.2s;
}

img {
    border-radius: 15px;
}
